@inherits LayoutComponentBase
@inject AppState appState
@inject IJSRuntime JSRuntime;
@implements IDisposable

<div class="main">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="order-md-0">
      <div class="navbar-nav mr-auto">
        <button @onclick="appState.invokeOnAddButtonClicked" class="btn btn-primary"><i class="fas fa-plus"></i></button>
      </div>
    </div>
    <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" >🚚</a>
    </div>
    <div class="order-3 ">
      <div class="navbar-nav mr-auto">
        <button class="btn btn-primary"><i class="fas fa-search"></i></button>
      </div>
    </div>
  </nav>
    <div id="toastbar">@currentToast?.Message</div> 

  <div class="content px-4">
    @Body
  </div>
</div>

@code{
  private Models.Toast currentToast = null;
      protected override void OnInitialized()
      {
          this.appState.OnShowToast += this.showToast;
      }

      private async void showToast(Models.Toast toast)
      {
          this.currentToast = toast;
          string value = toast.Timeout.HasValue ? toast.Timeout.Value.ToString() : null;
          await JSRuntime.InvokeAsync<string>("showToastBar", value);
      }

      public void Dispose()
      {
          this.appState.OnShowToast -= this.showToast;
   }


}

