@page "/"
@inject HttpClient Http
@using Versandtracks0rBlazor.Models
<div class="container-app ">

    @if(data != null)
    {
        <div class="row">
            <div class="col-main-list">
                <MainList @ref="mainListInstance" OnItemClick="@OnItemClick" dataSource="@data"></MainList>
            </div>
            @if(selectedShipment != null)
                {
                    <div class="col-shipment-detail">
                        <ShipmentDetail  OnCloseClick="@onDetailCloseClick" shipment="@selectedShipment"></ShipmentDetail>
                    </div>
                }
        </div>
    }
    else{
        <p><em>Loading...</em></p>
    }
</div>

@code{
    public List<Models.Shipment> data = null;
    public Models.Shipment selectedShipment = null;
    private MainList mainListInstance;

    private void OnItemClick(Models.Shipment shipment)
    {
        this.selectedShipment = shipment;
    }
    protected override async Task OnInitializedAsync()
    {
        this.data = await Http.GetFromJsonAsync<List<Models.Shipment>>(Util.ApiUrl + "api/Shipments");
    }

    public void onDetailCloseClick(MouseEventArgs e)
    {
        this.selectedShipment = null;
        this.mainListInstance.selectedShipment = null;
    }

}